In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import ast
from functions import *
import warnings
warnings.filterwarnings("ignore")

In [2]:
movie_credits = pd.read_csv("credits.csv")
movie_credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [3]:
metadata = pd.read_csv("movies_metadata.csv")
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
metadata["release_date"] = pd.to_datetime(metadata["release_date"] , errors="coerce")

In [5]:
metadata["year"] = metadata["release_date"].dt.year

In [6]:
metadata["year"].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [7]:
# selecting movies from 2017
new_metadata = metadata.loc[metadata["year"]==2017, ["genres","id","title","year"]]

In [8]:
new_metadata.head()

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0

In [9]:
new_metadata.dtypes

genres     object
id         object
title      object
year      float64
dtype: object

In [10]:
# changing Id from object to integer
new_metadata["id"] = new_metadata["id"].astype(int)

In [11]:
# Merging the two dataframes
dataframe = pd.merge(new_metadata, movie_credits , on="id")

In [12]:
# check result
dataframe.head()

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."

In [13]:
# Ast and mapping columns with lambda
dataframe["genres"] = dataframe['genres'].map(lambda x: ast.literal_eval(x))
dataframe["cast"] = dataframe["cast"].map(lambda x: ast.literal_eval(x))
dataframe["crew"] = dataframe["crew"].map(lambda x: ast.literal_eval(x))

In [14]:
# def make_genrelist(x):
#     gen = []
#     st = " "
#     for i in x:
#         if i.get("name") == "Science Fiction":
#             scifi = "Sci-Fi"
#             gen.append(scifi)
#         else:
#             gen.append(i.get("name"))
#     if gen == []:
#         return np.NaN
#     else:
#         return (st.join(gen))

In [15]:
dataframe["genres_list"] = dataframe["genres"].map(lambda x: Make_genrelist(x))

In [16]:
dataframe2 = dataframe[:]

In [17]:
dataframe["genres_list"]

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [18]:
# Dealing with actors

In [19]:
dataframe["Main_actor"] = dataframe["cast"].map(lambda x: get_1st_actor(x))

In [22]:
# checking results
dataframe["Main_actor"]

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamäki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: Main_actor, Length: 531, dtype: object

In [20]:
# 2nd actors

In [21]:
dataframe["Second_actor"] = dataframe["cast"].map(lambda x: get_2nd_actor(x))

In [23]:
dataframe["Second_actor"]

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: Second_actor, Length: 531, dtype: object

In [ ]:
# Third Actor

In [25]:
dataframe["Third_actor"] = dataframe["cast"].map(lambda x: get_3rdactor(x))

In [26]:
dataframe["Third_actor"]

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: Third_actor, Length: 531, dtype: object

In [ ]:
# get directors

In [28]:
dataframe["director_name"] = dataframe["crew"].map(lambda x: get_directors(x))

In [34]:
dataframe["director_name"]

0      Joachim RønningEspen Sandberg
1                        Zack Snyder
2                      Taika Waititi
3                         James Gunn
4                      Sean McNamara
                   ...
526                 Hannaleena Hauru
527            Jonathan A. Rosenbaum
528          Beth DavidEsteban Bravo
529                     Ravi Udyawar
530                    Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [35]:
# Checking the columns of the dataframe
dataframe.columns

Index(['genres', 'id', 'title', 'year', 'cast', 'crew', 'genres_list',
       'Main_actor', 'Second_actor', 'Third_actor', 'director_name'],
      dtype='object')

In [36]:
dataframe.head()

,genres,id,title,year,cast,crew,genres_list,Main_actor,Second_actor,Third_actor,director_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim RønningEspen Sandberg
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara

In [49]:
# dropping columns
# dataframe3 = dataframe.copy()

In [ ]:
# Dropping unwanted columns

In [62]:
try:
    dataframe.drop(labels = ["genres","id", "cast","crew", "year"] , axis =1 , inplace = True)
    
except Exception as x:
    pass

In [63]:
# check results
dataframe

,title,genres_list,Main_actor,Second_actor,Third_actor,director_name
0,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim RønningEspen Sandberg
1,Justice League,Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,The King's Daughter,Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara
...,...,...,...,...,...,...
526,Thick Lashes of Lauri Mäntyvaara,Romance Comedy,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Hannaleena Hauru
527,Cop and a Half: New Recruit,Crime Comedy Action Family,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Jonathan A. Rosenbaum
528,In a Heartbeat,Family Animation Romance Comedy,NaN,NaN,NaN,Beth DavidEsteban Bravo
529,Mom,Crime Drama Thriller,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Ravi Udyawar
530,Queerama,NaN,NaN,NaN,NaN,Daisy Asquith

In [64]:
dataframe.columns

Index(['title', 'genres_list', 'Main_actor', 'Second_actor', 'Third_actor',
       'director_name'],
      dtype='object')

In [69]:
# rearranging columms in dataframe
movies = dataframe[["director_name","Main_actor","Second_actor","Third_actor","genres_list","title"]]

In [70]:
movies.head()

,director_name,Main_actor,Second_actor,Third_actor,genres_list,title
0,Joachim RønningEspen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter

In [71]:
# checking for null values
total = movies.isnull().sum().sort_values(ascending = False)
percent = (movies.isnull().sum()/movies.isnull().count()*100).sort_values(ascending = False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

,Third_actor,Second_actor,Main_actor,genres_list,director_name,title
Total,70.000000,55.000000,22.000000,7.000000,4.000000,0.0
Percent,13.182674,10.357815,4.143126,1.318267,0.753296,0.0

In [72]:
# dropping null values
movies.dropna(inplace=True)

In [73]:
# check results
movies.isna().sum()

director_name    0
Main_actor       0
Second_actor     0
Third_actor      0
genres_list      0
title            0
dtype: int64